In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df_1 = pd.read_csv("airbnb_ny_2019.csv", encoding= "UTF-8", delimiter= "," )

In [4]:
df_2 = pd.read_csv("mapeamento_vizinhanca.csv", encoding= "UTF-8", delimiter= ";")

In [5]:
df_airbnb = df_1.drop_duplicates()

In [6]:
df_map = df_2.drop_duplicates()

In [7]:
print(df_airbnb.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [8]:
print(df_airbnb.shape)

(48895, 15)

In [9]:
print(df_map.isnull().sum())

vizinhanca_grupo    0
vizinhanca          0
dtype: int64

In [10]:
print(df_map.shape)

(221, 2)

In [11]:
df_airbnb_na = df_airbnb.dropna(how='any')

In [12]:
df_map_na = df_map.dropna(how='any')

In [13]:
print(df_airbnb_na.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [14]:
print(df_airbnb_na.shape)

(38821, 15)

In [15]:
print(df_map_na.isnull().sum())

vizinhanca_grupo    0
vizinhanca          0
dtype: int64

In [16]:
print(df_map_na.shape)

(221, 2)

In [17]:
df_juntar = df_airbnb_na.merge(df_map_na, how="inner", left_on= "neighbourhood", right_on="vizinhanca")

In [18]:
df_juntar_sv = df_juntar.drop("vizinhanca", 1)

In [19]:
df_juntar_tn = df_juntar_sv.rename(columns={"vizinhanca_grupo":"neighbourhood_group"})

In [20]:
bairros = ["Brooklyn", "Manhattan", "Queens", "Staten Island"]
df_filtrado = df_juntar_tn.query(f"neighbourhood_group in {bairros}")

In [21]:
df_filtrado

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,Brooklyn
1,63546,Large and Cozy Private Bedroom,308652,Antonín,Kensington,40.64106,-73.97426,Private room,39,1,45,2019-05-16,0.46,2,365,Brooklyn
2,125594,SUPER BIG AND COZY PRIVATE BEDROOM,308652,Antonín,Kensington,40.64302,-73.97255,Private room,39,1,82,2019-05-19,0.94,2,365,Brooklyn
3,267652,Private clean pleasant spacious room.,164675,Janice,Kensington,40.64277,-73.97296,Private room,60,2,20,2019-01-21,0.42,1,347,Brooklyn
4,282341,Kensington/Ditmas Park pied-a-terre,1471384,Dan,Kensington,40.64330,-73.97386,Entire home/apt,90,30,3,2017-07-30,0.05,1,286,Brooklyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38816,26703677,Camp Rockaway,200754542,Kent,Breezy Point,40.56605,-73.86994,Private room,195,1,4,2019-06-15,0.35,2,160,Queens
38817,27301638,Camp Rockaway,200754542,Kent,Breezy Point,40.56568,-73.87009,Private room,195,1,1,2018-08-25,0.09,2,59,Queens
38818,27088022,"Bright, Brand NEW, and Spacious, Gorgeous Home",115827173,David,Willowbrook,40.59886,-74.13217,Entire home/apt,249,4,9,2019-05-13,0.80,2,351,Staten Island
38819,27700747,Beach-side basement media room,145245549,Dawid,New Dorp Beach,40.56629,-74.10331,Private room,36,2,18,2019-06-07,1.67,1,178,Staten Island
38820,31218310,"YOUR HM AWAY FROM HM\r\nMedical personnel, Vac...",233485864,Jeannie,New Dorp Beach,40.56662,-74.10444,Private room,40,1,56,2019-07-06,9.33,2,307,Staten Island

In [22]:
df_filtrado.to_csv('residencias.csv', index=False)

In [23]:
df_filtrado.to_json('residencias.json')

In [24]:
df_filtrado

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,Brooklyn
1,63546,Large and Cozy Private Bedroom,308652,Antonín,Kensington,40.64106,-73.97426,Private room,39,1,45,2019-05-16,0.46,2,365,Brooklyn
2,125594,SUPER BIG AND COZY PRIVATE BEDROOM,308652,Antonín,Kensington,40.64302,-73.97255,Private room,39,1,82,2019-05-19,0.94,2,365,Brooklyn
3,267652,Private clean pleasant spacious room.,164675,Janice,Kensington,40.64277,-73.97296,Private room,60,2,20,2019-01-21,0.42,1,347,Brooklyn
4,282341,Kensington/Ditmas Park pied-a-terre,1471384,Dan,Kensington,40.64330,-73.97386,Entire home/apt,90,30,3,2017-07-30,0.05,1,286,Brooklyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38816,26703677,Camp Rockaway,200754542,Kent,Breezy Point,40.56605,-73.86994,Private room,195,1,4,2019-06-15,0.35,2,160,Queens
38817,27301638,Camp Rockaway,200754542,Kent,Breezy Point,40.56568,-73.87009,Private room,195,1,1,2018-08-25,0.09,2,59,Queens
38818,27088022,"Bright, Brand NEW, and Spacious, Gorgeous Home",115827173,David,Willowbrook,40.59886,-74.13217,Entire home/apt,249,4,9,2019-05-13,0.80,2,351,Staten Island
38819,27700747,Beach-side basement media room,145245549,Dawid,New Dorp Beach,40.56629,-74.10331,Private room,36,2,18,2019-06-07,1.67,1,178,Staten Island
38820,31218310,"YOUR HM AWAY FROM HM\r\nMedical personnel, Vac...",233485864,Jeannie,New Dorp Beach,40.56662,-74.10444,Private room,40,1,56,2019-07-06,9.33,2,307,Staten Island

In [25]:
df_mp = pd.read_csv("residencias.csv", encoding= "UTF-8", delimiter= ",")

In [26]:
df_media_preco = df_mp[["room_type", "neighbourhood_group", "price"]].groupby(["room_type", "neighbourhood_group"]).mean()

In [27]:
df_media_preco.to_csv('media_preco.csv', index=False)

In [28]:
df_media_preco.to_json('media_preco.json')

In [29]:
df_media_preco

                                          price
room_type       neighbourhood_group
Entire home/apt Brooklyn             171.281897
                Manhattan            230.200964
                Queens               139.225603
                Staten Island        125.366667
Private room    Brooklyn              73.349562
                Manhattan            106.607488
                Queens                69.302838
                Staten Island         57.584906
Shared room     Brooklyn              45.458621
                Manhattan             77.980337
                Queens                64.467105
                Staten Island         57.600000